.day {
    width: 50vw;
    height: 75%;
    border-left: 3px dotted whitesmoke;
    border-right: 3px dotted whitesmoke;
    left: 50%;
    margin: auto;
    /* overflow-y: auto; */
}


.date {
    width: 50%;
    left: 50%;
    margin: auto;
    color: white;
    text-align: center;
}
